.container {
  position: relative;
}
.interface{
  width: 80%;
  margin: 0 auto;
}
.header_box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.header_box h1{
  font-size: 20px;
}
.cards_sec{
  
}

.card_box {
  height: 350px;
  margin: 0 auto;
  position: relative; 
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: space-evenly;

}
.card_box:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid white;
  border-left: 1200px solid transparent;
  border-right: 400px solid transparent;
}

.card{
  position: relative;
  width: 200px;
  height: 260px;
  z-index: 100;
  border-radius: 20px;
  padding: 20px;

  background: #3CA55C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.topSide_card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topSide_card p{
  color: #FFFFFF;
}

.arrowIcon_box{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(252, 212, 212);
  border-radius:100%;
  cursor: pointer;
}

.centerSide_card{
  margin-top: 50px;
  color: #FFFFFF;

}
.centerSide_card p:first-child{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.centerSide_card p:nth-child(2){
  font-size: 16px;
  margin-bottom: 5px;
}
.centerSide_card p:nth-child(3){
  font-size: 14px;
  margin-bottom: 5px;
}

.card_add_btn_box{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.card_add_btn_box button{
  border: none;
  padding: 6px 40px;
  border-radius: 6px;
  background: green;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}