.container {
  position: relative;
}
.interface{
  width: 80%;
  margin: 0 auto;
}
.header_box{
  position: relative;

  height: 100px;
  background: deepskyblue;
}
.header_box h1{
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}
